.source {
  background-color: #eeeeee;
}

.source pre {
  padding: 10px;
}

.source code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.source code .literal {
  color: #0086B3;
}

.output {
}

.output svg {
  display: block;
  margin: 10px auto 10px auto;
  width: 128px;
  height: 128px;
}
