body {
  font-size: 15px;
  color: black;
}

a, a:visited, a:hover {
  color: #AF1C0D;
}

hr {
  margin-bottom: 22px;
}

h2 {
  font-size: 30px;
}

.breadcrumb {
  margin-bottom: 10px;
}

.headshot {
  border-radius: 50%;
  height: 78px;
  width: 78px;
  margin-bottom: 6px;
  margin-left: -2px;
}

.post ul { 
  list-style: square inside;
}

.post .subheader a {
  color: #777;
}

.post video, .post img {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post img.screenshot {
  width:100%;
  padding-bottom: 20px;
}

.cv h2 {
  font-size: 24px;
  line-height: 20px;
}

.cv h3 {
  font-size: 20px;
  line-height: 18px;
}

.cv ul {
  list-style: disc inside;
}

.cv li {
  margin-bottom: 6px;
}

.cv hr {
  margin-bottom: 16px;
}
