@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #f9f9f9;
  color: #1a1a1a;
  height: 100%;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.6rem;
  padding: 2rem; }

a {
  text-decoration: none;
  color: #d55d2b; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
  a {
    color: #e39777;
  }
}

div.fulltext {
  margin: auto;
  max-width: 38rem; }

/* End mark
 * https://rwt.io/typography-tips/marks-ends-and-middles-end-marks-sections-and-dead-ends
 */
div.fulltext p:last-child:after {
  content: "\2731";
  display: block;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  opacity: 0.4;
}

h1 {
  margin-top: 0.3em;
  line-height: normal; }

h2 {
  margin-top: 2rem;
  line-height: 1.4em; }

img.headshot {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

img.large {
  max-width: 95%;
  margin: auto;
  display: block;
}

img.small {
  max-width: 240px;
  margin: 0 auto 0 auto;
  display: block;
  border-radius: 6%;
}
