@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #fafafa;
  height: 100%;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.6rem;
  padding: 2rem; }

.fulltext {
  margin: auto;
  max-width: 38rem; }

p {
  color: #1a1a19; }

h1 {
  line-height: normal; }

h2 {
  margin-top: 2rem;
  line-height: 1.4em; }

a {
  text-decoration: none;
  color: #d55d2b; }

img.headshot {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

img.large {
  max-width: 95%;
  margin: auto;
  display: block;
}

img.small {
  max-width: 240px;
  margin: 0 auto 0 auto;
  display: block;
  border-radius: 6%;
}
